<!--{% extends "layout.html" %}-->
{% block body %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/custom.css">
</head>

<!-- page header -->
<div class="bioheader">
<h1>Let's Get To Know Each Other</h1>
<style>
h1 {text-align:center}
</style>
</div>

<!-- page content -->
<body>
<body link="white">
<br />
<div class="content">
<h3>Video Work</h3>
<p align="justify">I am a video producer and editor based in New York City. After watching way too much television while growing up, I moved to New Orleans to study Digital Media Production at Tulane University. Once I got a taste of the area's burgeoning film industry, I decided to pursue my passion and explore a career as an editor. Post-college, I relocated to NYC to work in the booming startup scene, and have produced and edited video for companies including GoGoMix and One Month. My work has been featured in the New Orleans Uptown Sounds Film Fesival and the 2015 United Nations Enable Film Festival.</p>
<h3>Coding</h3>
<p align="justify">I've recently started learning how to code. Check out some of my sample apps (including this website!) on my Programming page.</p>
<h3>Journalism</h3>
<p align="justify">In addition to my work in film and on the web, I've written for publications including Time Out Shanghai, Hollywood.com, and Fuse.tv. I was the Managing Editor of the Tulane Hullabaloo, and my writing has been featured on Fox News. Check out some of my writing here:</p>
<a href="http://www.thecollegefix.com/post/9289/">If you want to see some investigative journalism, click here!</a>
<br />
<a href="http://www.fuse.tv/2012/08/five-celtic-rock-bands-you-should-know">Like music? Check this out!</a>
<br />
<a href="http://www.timeoutshanghai.com/features/Performing_Arts-Theatre/12103/Review-Black-is-the-Color-of-My-Voice.html">Looking for reviews? This oughta do it.</a>
</div>


</body>
</html>

{% endblock %}