{% extends "layout.html" %}
{% block body %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/custom.css">
</head>

<h1> All About Me </h1>
<body>
<br>
<br>
<h3>Video Work</h3>
<br>
<p>I am a video producer and editor based in New York City. After watching far too much television while growing up, I moved to New Orleans to study Digital Media Production at Tulane University. Once I got a taste of the area's burgeoning film industry, I decided to pursue my passion and explore a career as an editor. Post-college, I relocated to NYC to work in the booming startup scene, and have produced and edited video for companies including GoGoMix and One Month. My work has been featured in the New Orleans Uptown Sounds Film Fesival and the 2015 United Nations Enable Film Festival.</p>
<br>
<br>
<h3>Coding</h3>
<br>
<p>I've recently started learning how to code. Check out some of my sample apps (including this website!) on my Programming page.</p>
<br>
<br>
<h3>Journalism</h3>
<br>
<p>In addition to my work in film and on the web, I've written for publications including Time Out Shanghai, Hollywood.com, and Fuse.tv. I was the Managing Editor of the Tulane Hullabaloo, and my writing has been featured on Fox News.</p>

</body>
</html>

{% endblock %}