{% extends "layout.html" %}
{% block body %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/custom.css">
</head>

    <header>
        <div class="container">
            <div class="row">
                    <img src="static/img/jesspic3.png" style="height:500px" alt="profilephoto" />
                    <div class="intro-text">
                        <h1>Hey there! I'm Jess.</h1>
                        <h4><span class="skills">Video Editor//Web Developer//Digital Media Specialist</span></h4>
                    </div>
                </div>
            </div>
        </div>
</header>

</html>

{% endblock %}