<!DOCTYPE html>
<html lang="en">

<html>
<head>
	<title>Jessica Appelbaum</title>
<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/custom.css">
</head>

<style>
body{
	text-align: center;
}
</style> 

<!-- Navbar -->
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul>
        <li><a class="navbar-brand" href="/">Jessica Appelbaum</a></li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/bio">About Me</a></li>
      <li><a href="/video">Video</a></li>
      <li><a href="/programming">Programming</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>


	{% block body %}{% endblock %}

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>