{% extends "layout.html" %}
{% block body %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/custom.css">
</head>

<h1>Sometimes I Write Code</h1>

<!-- pandafacts -->
<div id = "pandafacts">
<h3><a href="http://www.panda-facts.com/">Panda Facts!</a></h3>
<br />
<img src="static/img/pandafacts.png" style="height:250px" alt="pandaphoto" />
<br />
<p>My first web app. Check it out to learn some panda facts!</p>
</div>

<!-- personalsite -->
<div id = "personalsite">
<h3><a href="http://www.jessicaappelbaum.com/">Jessica Appelbaum Portfolio Site</a></h3>
<br />
<img src="static/img/personalsite.png" style="height:250px" alt="sitephoto" />
<br />
<p>My personal site. (You're looking at it!)</p>
</div>

</html>

{% endblock %}