{% extends "layout.html" %}
{% block body %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/custom.css">
</head>

<h1>Need A Video Editor/Producer? Check This Out!</h1>
<br>
<br>
<iframe src="https://player.vimeo.com/video/126647453" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/126647453">Jessica Appelbaum Showreel</a> from <a href="https://vimeo.com/user23411729">Jessica Appelbaum</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

</html>

{% endblock %}